<div class="page-wraper">
    <!-- header -->
    <app-header-light3></app-header-light3>
    <!-- header END -->
    <!-- Content -->
    <div class="page-content bg-white">
		<!-- Main Slider -->
        <app-slider1></app-slider1>
		<!-- Main Slider -->
        <!-- contact area -->
                <div class="content-block">
			<!-- About Company -->
			<app-courses1></app-courses1>
			<!-- About Company END -->

		</div>
    </div>
    <!-- Footer -->
    <app-footer13></app-footer13>
    <!-- Footer END-->
    <button class="scroltop icon-up" type="button"><i class="fa fa-arrow-up"></i></button>
</div>
