<header class="site-header mo-left header">
    <div class="top-bar">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="dlab-topbar-left">
                    <ul>
                        <li><i class="la la-phone-volume"></i> +216 27395846</li>
                        <li><i class="las la-map-marker"></i> City Amel, Gabes</li>
                    </ul>
                </div>
                <div class="dlab-topbar-right">
                    <ul>
                        <li><i class="la la-clock"></i>  Mon - Sat 8.00 - 18.00</li>
                        <li><i class="las la-envelope-open"></i> Mohamed.belhaj@isimg.tn</li>
                    </ul>				
                </div>
            </div>
        </div>
    </div>
<!-- main header -->
<div class="sticky-header main-bar-wraper navbar-expand-lg">
    <div class="main-bar clearfix ">
        <div class="container clearfix">
            <!-- website logo -->
            <div class="logo-header mostion logo-dark">
                <a [routerLink]="['/home-university']"><img src="assets/images/geducaLGO.png" alt=""></a>
            </div>
            <!-- nav toggle button -->
            <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
<div class="row mt-4">
    
    <div class="col-md-4 offset-md-5">
        <h2 class="dlab-title">GEDUCA</h2>
    </div>
</div>
<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-4">
           <a routerLink="/shop-login">
            <div class="card">
                <img src="assets/images/Enseg1.jpg">
                <p>Enseignant</p>
            </div>
        </a>
        </div>

        <div class="col-md-4">
            <a routerLink="/shop-login">
            <div class="card">
                <img src="assets/images/ParentP.jpg">
                <p>Parent</p>
            </div>
        </a>

        </div>



        <div class="col-md-4">
            <a routerLink="/shop-login">
            <div class="card">
                <img src="assets/images/ELEV.jpg">
                <p>Eleve</p>
            </div>
            </a>
        </div>
    
    </div>
</div>